@page "/Branching_Common/{RQID}"

<div class="container-fluid">
    <div class="card col-lg-12 col-12 float-right">
        <div class="card-header bg-info">
            <h3 class="card-title">ردیف درخواست ها</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0 scroll" style="height:137px;">
            <table class="table table-striped">
                <tr>
                    <th>ایجاد یا تغییر</th>
                    <th>نوع مشترک</th>
                    <th>نوع متقاضی</th>
                    <th>نوع انشعاب</th>
                    <th>موقعیت محل</th>
                    <th>چگونگی برق رسانی</th>
                    <th>تعداد</th>
                    <th class="td-width">نوع تقاضا</th>
                    <th class="td-width">نوع کاربری</th>
                    <th>آمپر</th>
                    <th>فاز</th>
                    <th>قدرت</th>
                    <th class="td-width">ولتاژ تحویلی</th>
                </tr>
                <tbody>
                    @foreach (var item in BranchItemList)
                    {
                        <tr>
                            @if (item.Gnrt == "1")
                            {
                                <td>جدید</td>
                            }
                            else
                            {
                                <td>تغییر</td>
                            }

                            @if (item.Serv_Type == "1")
                            {
                                <td>عادی</td>
                            }
                            else
                            {
                                <td>دیماندی</td>
                            }

                            <td> @item.Rqtt_Desc</td>

                            @if (item.Brnc_Type == "1")
                            {
                                <td>دائم</td>
                            }
                            else if (item.Brnc_Type == "2")
                            {
                                <td>آزاد</td>
                            }
                            else if (item.Brnc_Type == "3")
                            {
                                <td>حاشیه شهر</td>
                            }
                            else if (item.Brnc_Type == "4")
                            {
                                <td>آزاد به دائم</td>
                            }
                            else if (item.Brnc_Type == "5")
                            {
                                <td>فتوولتاییک</td>
                            }
                            else if (item.Brnc_Type == "6")
                            {
                                <td>غیر دائم</td>
                            }
                            <td> @item.Loct_Desc</td>

                            @if (item.Inst_Supr == "1")
                            {
                                <td>شرکت</td>
                            }
                            else if (item.Inst_Supr == "2")
                            {
                                <td>متقاضی</td>
                            }
                            else
                            {
                                <td>شبکه موجود</td>
                            }
                            <td>@item.Admn_Numb</td>

                            <td>@item.Rqtp_Desc</td>

                            @if (item.Use_Type == "1")
                            {
                                <td>خانگی</td>
                            }
                            else if (item.Use_Type == "2")
                            {
                                <td>عمومی</td>
                            }
                            else if (item.Use_Type == "3")
                            {
                                <td>کشاورزی</td>
                            }
                            else if (item.Use_Type == "4")
                            {
                                <td>صنعتی</td>
                            }
                            else if (item.Use_Type == "5")
                            {
                                <td>سایر مصارف</td>
                            }

                            <td>@item.Ampr</td>

                            <td>@item.Phas</td>

                            <td>@item.Powr</td>

                            @if (item.Volt_Type == "1")
                            {
                                <td>اولیه</td>
                            }
                            else if (item.Volt_Type == "2")
                            {
                                <td>ثانویه</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-12 col-lg-12 col-md-12 float-start">جمع قدرت : @Sum_Power</div>
        <!-- /.card-body -->
    </div>
</div>

@code {
    [Parameter]
    public string RQID { get; set; }
    public string Requster_Name { get; set; }
    public string Gnrt { get; set; }
    public string Serv_Type { get; set; }
    public string Rqtt_Desc { get; set; }
    public string Brnc_Type { get; set; }
    public string Loct_Desc { get; set; }
    public string Inst_Supr { get; set; }
    public Int16 Admn_Numb { get; set; }
    public string Rqtp_Desc { get; set; }
    public string Use_Type { get; set; }
    public Int32 Ampr { get; set; }
    public string Phas { get; set; }
    public double Powr { get; set; }
    public double Sum_Power { get; set; }
    public string Volt_Type { get; set; }
    [Parameter]
    public List<Branching_Item> BranchItemList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        BranchItemList = new List<Branching_Item>();
        //////////////////////////////////////////
        var result_list = await Http.PostAsJsonAsync("api/Branching/Get_RequestRow_Async/", RQID);
        var _json = await result_list.Content.ReadAsStringAsync();
        BranchItemList = JsonConvert.DeserializeObject<List<Branching_Item>>(_json);
        // Sum_Power = (double)BranchItemList.Any(x => x.Powr).ToString()
        foreach (var item in BranchItemList)
        {
            Sum_Power += item.Powr;
        }
    }
}
