<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(_LoginLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    
    <Found Context="routeData1">
        <RouteView RouteData="@routeData1" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData1" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(_LoginLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@*DefaultLayout="@typeof(MainLayout)"*@