@page "/Installment_Item/{RQID}"


<div class="container-fluid bg-light">
    <!-- COLOR PALETTE -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                فرم قرارداد - شماره درخواست: @RQID - نام متقاضی: @Requster_Name - تاریخ درخواست : @Cret_Date
            </h3>

        </div>
        <div class="card-body">

            <Branching_Common RQID=@RQID></Branching_Common>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="card col-lg-12 col-12 float-right">
        <div class="card-header bg-info">
            <h3 class="card-title">هزینه ها</h3>
        </div>
        <!-- /.card-header -->
        <!-- /.card-header -->
        <div class="card-body p-0 scroll" style="height:137px;">
            <table class="table table-striped">
                <tr>
                    <th>موضوع پرداخت</th>
                    <th>مبلغ کل هزینه ها</th>
                    <th>درصد مبلغ نقدی</th>
                    <th>مبلغ تقسیط</th>
                </tr>
                <tbody>
                    @foreach (var item in _ListItemInstallment)
                    {
                        <tr>
                            <td>@item.EXTP_DESC</td>
                            <td>@item.EXPS_AMNT</td>
                            <td>@item.INST_PRCN</td>
                            <td>@item.INST_AMNT</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- /.card-body -->
    <div class="card col-lg-12 col-12 float-right">
        <div class="card-header bg-info">
            <h3 class="card-title">تقاضای تقسیط</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body font">
            <div class=" col-lg-12 float-right">
                <div class="row col-lg-3 mb-2 float-right">
                    <div class="col-lg-7 col-7"> تاريخ تقاضاي تقسيط :</div>
                    <div class="col-lg-5 col-5">@_InstallmentItem.RQST_DATE</div>
                </div>
                <div class="row col-lg-5 mb-2 float-right">
                    <div class="col-lg-6 col-7">وضعیت بنا (در زمان تقاضای تقسیط):</div>
                    <div class="col-lg-4 col-5">@_InstallmentItem.BLDN_DESC_VISIT</div>
                </div>
                <div class="row col-lg-3 mb-2 float-right">
                    <div class="col-lg-6 col-8">تعداد اقساط :</div>
                    <div class="col-lg-6 col-2">@_InstallmentItem.INST_NUMB</div>
                </div>
               
            </div>
        </div>
        </div>

        <div class="row col-lg-12 ">
            <div class="row col-lg-6 mt-2 mb-2 mr-4">
                <div class="col-lg-3 mt-2 col-sm-3 col-5">
                    @*<button class="btn btn-block btn-primary bg-success-gradient text-center" @onclick="Confirm">تایید</button>*@
                    <a href="#" class="btn btn-block btn-primary bg-success-gradient text-center" disabled data-toggle="modal" data-target="#confirmModal">تایید</a>
                </div>
                <div class="col-lg-3 mt-2 col-sm-3 col-5 float-left">
                    @*                <button class="btn btn-block btn-primary bg-danger-gradient text-center" @onclick="Reject">عدم تایید</button>*@
                    <a href="#" class="btn btn-block btn-primary bg-danger-gradient text-center" disabled data-toggle="modal" data-target="#rejectModal">عدم تایید</a>

                </div>
                <div class="col-lg-3 mt-2 col-sm-3 col-5">
                    <button class="btn btn-block btn-primary bg-warning-gradient text-center" @onclick="Back">بازگشت</button>
                </div>
                <div class="col-lg-3 mt-2 col-sm-3 col-5 float-left">
                    <button class="btn btn-block btn-primary bg-info-gradient text-center" disabled @onclick="@(()=>Img_Dsiplay(@RQID))">مشاهده مدارک</button>
                </div>

            </div>
            @*</div>*@



            <!-- /.card -->
            <div class="row col-lg-12 float-right">
                <div class="row col-lg-6 float-right">
                    <div class="col-lg-4 col-4"> دلیل عدم تایید: </div>
                    <div class="col-lg-8 col-8"><textarea @bind=Desc class="form-control"></textarea> </div>
                </div>
                <div class="row col-lg-6 float-right mt-10">
                    @*<table class="table table-striped">
                        <tr>
                            <th class="bg-warning">دلیل عدم تایید</th>
                        </tr>
                        <tbody>
                            @foreach (var item in RejectReason)
                            {
                                <tr>
                                    <td>@item</td>
                                </tr>
                            }
                        </tbody>
                    </table>*@
                    @*mt-2 mb-2 mr-4 *@
                </div>
            </div>
        </div>


        <!-- confir mModal -->
        <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">تایید درخواست</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>آیا از تایید درخواست مطمئن هستید؟</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-block btn-primary bg-success-gradient text-center" @onclick="Confirm" data-dismiss="modal">بلی</button>
                        <button type="button" class="btn btn-block btn-primary bg-info-gradient text-center" data-dismiss="modal">خیر</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- reject mModal -->
        <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">عدم تایید درخواست</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4>آیا از عدم تایید درخواست مطمئن هستید؟</h4>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-block btn-primary bg-danger-gradient text-center" @onclick="Reject" data-dismiss="modal">بلی</button>
                        <button type="button" class="btn btn-block btn-primary bg-info-gradient text-center" data-dismiss="modal">خیر</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-lg-8">
            <div class="col-lg-8 col-8"><label class="text-danger">@Result_Message</label> </div>
        </div>

    </div>

@code {
    [Parameter]
    public string RQID { get; set; }

    public string Requster_Name { get; set; }

    public string Cret_Date { get; set; }

    public List<string> lst { get; set; }
    [Parameter]
    public string regn_code { get; set; }

    public string Desc { get; set; }

    public string Result_Message { get; set; }
    [Parameter]
    public List<string>? RejectReason { get; set; }
    [Parameter]
    public List<Installment_Price_Item> _ListItemInstallment { get; set; }
    [Parameter]
    public Installment_Price_Details_Item _InstallmentItem { get; set; }

    public string EXTP_DESC { get; set; }
    public Int64 INST_PRCN { get; set; }
    public string INST_AMNT { get; set; }
    public string RQST_DATE { get; set; }
    public string BLDN_DESC_VISIT { get; set; }
    public int INST_NUMB { get; set; }
    public Int64 EXPS_AMNT { get; set; }

    protected override async Task OnInitializedAsync()
    {

        //////////////////////////////////////////
        await Get_Requester_Name_Async();
        //////////////////////////////////////////
        await Get_AdmInstallment();
        //////////////////////////////////////////
        //  await Get_Reject_Reason();
        //////////
        await Get_AdmInstallment_Item();
    }
    private async Task Confirm()
    {
        var result = await Http.PostAsJsonAsync("api/Branching/ConfirmContractasync/", RQID);
        var res = await result.Content.ReadAsStringAsync();
        if (res == "0")
            Result_Message = "ثبت با موفقیت انجام شد";
        else
            Result_Message = "درخواست شرایط مورد نظر را ندارد";

    }

    private async Task Reject()
    {
        lst = new List<string>();
        lst.Add(RQID);
        lst.Add(Desc);
        var result = await Http.PostAsJsonAsync("api/Branching/RejectContractasync/", lst);
        var res = await result.Content.ReadAsStringAsync();
        if (res == "0")
            Result_Message = "ثبت با موفقیت انجام شد";
        else
            Result_Message = "درخواست شرایط مورد نظر را ندارد";
    }


    private void Back()
    {
        //NavigationManager.NavigateTo($"/Branching/{RQID}/");
        NavigationManager.NavigateTo($"/Installment/{Temp.username}/");
    }
    private async Task Get_Requester_Name_Async()
    {
        var result_name = await Http.PostAsJsonAsync("api/Branching/Get_Requester_Name_Async/", RQID);
        Requster_Name = await result_name.Content.ReadAsStringAsync();
        var result_name_json = JsonConvert.DeserializeObject<Branching_Item>(Requster_Name);
        Requster_Name = result_name_json.Requster_Name;
        Cret_Date = result_name_json.Cret_Date;

    }
    private void Img_Dsiplay(string RQID)
    {
        NavigationManager.NavigateTo($"Image_Display/{RQID.ToString()}/");
    }

    private async Task Get_Reject_Reason()
    {
        var result_list = await Http.PostAsJsonAsync("api/Branching/Get_Reject_Reason_Async/", RQID);
        var _json = await result_list.Content.ReadAsStringAsync();
        RejectReason = JsonConvert.DeserializeObject<List<string>>(_json);
    }

    private async Task Get_AdmInstallment()
    {
        //"api/Branching/Get_AdmInstallment/"

        _ListItemInstallment = new List<Installment_Price_Item>();
        var getData = await Http.PostAsJsonAsync("api/Branching/Get_AdmInstallment/", RQID);
        var data = await getData.Content.ReadAsStringAsync();
        _ListItemInstallment = JsonConvert.DeserializeObject<List<Installment_Price_Item>>(data);
    }

    private async Task Get_AdmInstallment_Item()
    {
        var Installment_Item = await Http.PostAsJsonAsync("api/Branching/Get_AdmInstallment_Item/", RQID);
        var data = await Installment_Item.Content.ReadAsStringAsync();
        _InstallmentItem = JsonConvert.DeserializeObject<Installment_Price_Details_Item>(data);
    }
}
