@page "/Branching_Item/{RQID}/{regn_code}"



<div class="container-fluid bg-light">
    <!-- COLOR PALETTE -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                فرم قرارداد - شماره درخواست: @RQID - نام متقاضی: @Requster_Name
            </h3>

        </div>
        <div class="card-body">

            <Branching_Common RQID=@RQID></Branching_Common>

        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

@*@RQID*@
<div class="container-fluid bg-light">
    <!-- COLOR PALETTE -->
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fa fa-tag"></i>
                قرارداد
            </h3>
        </div>
        <div class="card-body font">
            <div class=" col-lg-12 float-right">
                <div class="row col-lg-3 mb-2 float-right">
                    <div class="col-lg-6 col-7"> تاریخ قرارداد:</div>
                    <div class="col-lg-6 col-5">@_contract.Cont_Date </div>
                </div>
                <div class="row col-lg-3 mb-2 float-right">
                    <div class="col-lg-6 col-7">تاریخ صورت جلسه: </div>
                    <div class="col-lg-6 col-5">@_contract.View_Date </div>
                </div>
                <div class="row col-lg-3 mb-2 float-right">
                    <div class="col-lg-6 col-10">مهلت تعهدات متقاضی(روز): </div>
                    <div class="col-lg-6 col-2">@_contract.Resp_Inst_Equp </div>
                </div>
                <div class="row col-lg-3 mb-2 float-right">
                    <div class="col-lg-6 col-10">مهلت تعهدات شرکت(روز): </div>
                    <div class="col-lg-6 col-2">@_contract.Resp_Dlve_Powr </div>
                </div>
            </div>
            <div class="row col-lg-12 float-right">
                <div class="row col-lg-6 float-right">
                    <div class="col-lg-3 col-4"> تعهدات متقاضی: </div>
                    <div class="col-lg-8 col-8">
                        <textarea class="form-control">@_contract.Comt_Aplr </textarea>
                    </div>
                </div>

                <div class="row col-lg-6 float-right">
                    <div class="col-lg-3 col-4"> تعهدات شرکت: </div>
                    <div class="col-lg-8 col-8">
                        <textarea class="form-control">@_contract.Comt_Comp  </textarea>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <div class="row col-lg-12 ">
        <div class="row col-lg-4">
            <div class="col-lg-4 col-4"> دلیل عدم تایید: </div>
            <div class="col-lg-8 col-8"><textarea @bind=Desc class="form-control"></textarea> </div>
            <div class="row col-lg-12 mt-2 mb-2">
                <div class="col-lg-4 col-4">
                    <button class="btn btn-block btn-primary bg-success-gradient text-center" @onclick="Confirm" style="width:85px">تایید</button>
                </div>
                <div class="col-lg-4 col-4">
                    <button class="btn btn-block btn-primary bg-danger-gradient text-center" @onclick="Reject" style="width:85px">عدم تایید</button>
                </div>
                <div class="col-lg-4 col-4">
                    <button class="btn btn-block btn-primary bg-warning-gradient text-center" @onclick="Back" style="width:85px">بازگشت</button>
                </div>

            </div>
        </div>
        <div class="row col-lg-8">
            <!-- /.card-header -->
            <div class="card-body p-0 scroll" style="height:237px;">
                <table class="table table-striped">
                    <tr>

                        <th>نوع عکس</th>
                        <th>عکس</th>
                        @*<th>نمایش</th>*@

                    </tr>
                    @foreach (var item in Img_list)
                    {
                        if (@item.Image_Type.ToString() == "8")
                        {
                            <tr>

                                <td>@item.Image_Type_Desc</td>
                                <td><img id="myImg" src="data:image/jpg;base64,@Convert.ToBase64String(item.Image)" width="200" height="200" /></td>
                                @*<td></td>*@

                            </tr>
                        }
                    }

                </table>
            </div>
            <!-- /.card-body -->
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>
        </div>
    </div>
    <div class="row col-lg-8">
        <div class="col-lg-8 col-8"><label class="text-danger">@Result_Message</label> </div>
    </div>
    @* <div class="row col-lg-12 mt-2 mb-2">
        <div class="col-lg-1 col-4">
        <button class="btn btn-block btn-primary bg-success-gradient text-center" @onclick="Confirm" style="width:85px">تایید</button>
        </div>
        <div class="col-lg-1 col-4">
        <button class="btn btn-block btn-primary bg-danger-gradient text-center" @onclick="Reject" style="width:85px">عدم تایید</button>
        </div>
        <div class="col-lg-1 col-4">
        <button class="btn btn-block btn-primary bg-warning-gradient text-center" @onclick="Back" style="width:85px">بازگشت</button>
        </div>

        </div>*@
</div>


@code {
    [Parameter]
    public string RQID { get; set; }

    public string Requster_Name { get; set; }

    [Parameter]
    public Contract_Item _contract { get; set; }
    [Parameter]
    public string regn_code { get; set; }

    public string Desc { get; set; }

    public List<string> lst { get; set; }

    public string Result_Message { get; set; }

    [Parameter]
    public List<Sas_Image_Document> Img_list { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _contract = new Contract_Item();
        //////////////////////////////////////////
        Get_Requester_Name_Async();
        //////////////////////////////////////////
        Get_AdmContract();
        //////////////////////////////////////////
        await View_Img();
    }
    private async Task Confirm()
    {
        var result = await Http.PostAsJsonAsync("api/Branching/ConfirmContractasync/", RQID);
        var res = await result.Content.ReadAsStringAsync();
        if (res == "0")
            Result_Message = "ثبت با موفقیت انجام شد";
        else
            Result_Message = "درخواست شرایط مورد نظر را ندارد";

    }

    private async Task Reject()
    {
        lst = new List<string>();
        lst.Add(RQID);
        lst.Add(Desc);
        var result = await Http.PostAsJsonAsync("api/Branching/RejectContractasync/", lst);
        var res = await result.Content.ReadAsStringAsync();
        if (res == "0")
            Result_Message = "ثبت با موفقیت انجام شد";
        else
            Result_Message = "درخواست شرایط مورد نظر را ندارد";
    }

    private void Back()
    {
        NavigationManager.NavigateTo($"/Branching/{regn_code}/");
    }


    private async Task Get_Requester_Name_Async()
    {
        var result_name = await Http.PostAsJsonAsync("api/Branching/Get_Requester_Name_Async/", RQID);
        Requster_Name = await result_name.Content.ReadAsStringAsync();
        var result_name_json = JsonConvert.DeserializeObject<Branching_Item>(Requster_Name);
        Requster_Name = result_name_json.Requster_Name;
    }

    private async Task Get_AdmContract()
    {
        var contract_Item = await Http.PostAsJsonAsync("api/Branching/Get_AdmContract/", RQID);
        var data = await contract_Item.Content.ReadAsStringAsync();
        _contract = JsonConvert.DeserializeObject<Contract_Item>(data);
    }

    private async Task View_Img()
    {
        Img_list = new List<Sas_Image_Document>();
        var result = await Http.PostAsJsonAsync("api/Branching/View_Imgasync/", RQID);
        var res = await result.Content.ReadAsStringAsync();
        Img_list = JsonConvert.DeserializeObject<List<Sas_Image_Document>>(res);
    }
}
